@model WebApplication1.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmpCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmpAdd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpAdd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmpMobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpMobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmpEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpEmail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmpId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
