@model IEnumerable<WebApplication1.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmpName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpAdd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpMobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpEmail)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{ 
    <script>
        $(document).ready(function () {
            
         });
    </script>
}